{% set display_footer=False %}
{% set BODY_CLASS='landing' %}
{% extends 'base.html' %}

{% block content %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<a href="{{ url_for('product') }}" class="invisible">
		<header>
			<h2>Technicolor world is a</h2>
			<p><strong>dynamic</strong> work of art,</p>
			<p>designed and built to <strong>illuminate your world.</strong></p>
		</header>
		<span class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></span>
		</a>
	</div>
</section>
{% endblock %}