{% extends 'base.html' %}

{% block content %}
<!-- One -->
<section id="one" class="spotlight style1 bottom">
	<span class="image fit main"><img src="{{ url_for('static', filename='images/wood.JPG') }}" alt="" /></span>
	<div class="content first">
		<div class="container">
			<div class="row">
				<div class="4u 12u$(medium)">
					<header>
						<h2>Technicolor World turns any room into an interactive space</h2>
						<p>Rich LED color lights up your room</p>
					</header>
				</div>
				<div class="4u 12u$(medium)">
					<p>Built with individually addressable LEDs, TW can display endless numbers of color patterns.</p>
				</div>
				<div class="4u$ 12u$(medium)">
					<p>Color mode is controlled by a button on the side of the piece. DIYer? The art piece can be reprogrammed
					with the Arduino IDE to introduce your own light patterns.</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
	<span class="image fit main"><img src="{{ url_for('static', filename='images/america_close.JPG') }}" alt="" /></span>
	<div class="content">
		<header>
			<h2>Simple yet striking</h2>
			<p>Remind yourself of the world you live in</p>
		</header>
		<p>Technicolor world is a reminder that we living in a global world.</p>
		<ul class="actions">
			<li><a href="{{ url_for('reserve') }}" class="button">Learn More</a></li>
		</ul>
	</div>
	<a href="#three" class="goto-next scrolly">Next</a>
</section>

<!-- Three -->
<section id="three" class="spotlight style3 left">
	<span class="image fit main bottom"><img src="{{ url_for('static', filename='images/australia_close.JPG') }}" alt="" /></span>
	<div class="content">
		<header>
			<h2>Premium construction</h2>
			<p>Drilled with a precision CNC machine, each hole is perfect down to the millimeter.</p>
		</header>
		<p>The piece is finished with off white paint to accenuate the LED color from behind. Light is evenly diffused throughout the holes providing a uniform glow to illuminate the world.</p>
		<ul class="actions">
			<li><a href="{{ url_for('reserve') }}" class="button">Learn More</a></li>
		</ul>
	</div>
	<a href="#four" class="goto-next scrolly">Next</a>
</section>

<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
	<div class="container">
		<header class="major">
			<h2>Built for the enthusiast</h2>
			<p>And to accenuate your business</p>
		</header>
		<div class="box alt">
			<div class="row uniform">
				<section class="4u 6u(medium) 12u$(xsmall)">
					<span class="icon alt major fa-area-chart"></span>
					<h3>Precision timing</h3>
					<p>Crystal based real time clock to ensure the correct time is always shown.</p>
				</section>
				<section class="4u 6u$(medium) 12u$(xsmall)">
					<span class="icon alt major fa-lock"></span>
					<h3>Premium construction</h3>
					<p>Precision CNCed, meticulously assembled and carefully shipped.</p>
				</section>
				<section class="4u$ 6u(medium) 12u$(xsmall)">
					<span class="icon alt major fa-flask"></span>
					<h3>DIY dream</h3>
					<p>Reprogram the art piece via the micro USB port using the Arduino bootloader.</p>
				</section>
			</div>
		</div>
		<footer class="major">
			<ul class="actions">
				<li><a href="{{ url_for('reserve') }}" class="button">Reserve yours now</a></li>
			</ul>
		</footer>
	</div>
</section>

<!-- Five -->
<section id="five" class="wrapper style2 special fade">
	<div class="container">
		<header>
			<h2>Join the loop</h2>
			<p>Sign up for the lastest news on our product</p>
		</header>
		<form method="post" action="#" class="container 50%">
			<div class="row uniform 50%">
				<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
				<div class="4u$ 12u$(xsmall)"><input type="submit" value="Loop me in" class="fit special" /></div>
			</div>
		</form>
	</div>
</section>
{% endblock %}